.wp-block-comments {
  display: none;
}

#neznam-atproto-share-comments ul.bluesky-comments {
  display: flex;
  list-style: none;
  padding: 0;
}
  
#neznam-atproto-share-comments ul.bluesky-comments a {
  text-decoration: none;
}

#neznam-atproto-share-comments ul.bluesky-comments li.avatar {
  margin-right: 10px;
}

#neznam-atproto-share-comments ul.bluesky-comments li.avatar img {
  height: 42px;
  width: 42px;
  clip-path: circle();
}

#neznam-atproto-share-comments ul.bluesky-comments li.comment div.author a:hover,
#neznam-atproto-share-comments ul.bluesky-comments li.comment div.author a:active {
  text-decoration: underline;
}  

#neznam-atproto-share-comments ul.bluesky-comments li.comment div.author * {
    white-space: nowrap;
}  

#neznam-atproto-share-comments ul.bluesky-comments li.comment div.icons a.icon-link {
  display:inline-block;
  margin-right: 1rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

#neznam-atproto-share-comments ul.bluesky-comments li.comment div.icons a.icon-link svg {
  position: relative;
  top: .3em;
  stroke: #ccc;
}

#neznam-atproto-share-comments ul.bluesky-comments li.comment div.icons a.icon-link:hover, ul.bluesky-comments li.comment div.icons a.icon-link:active {
  border-bottom: 1px solid white;
}

#neznam-atproto-share-comments ul.bluesky-comments li.comment div.icons a.icon-link:hover svg, ul.bluesky-comments li.comment div.icons a.icon-link:active svg {
  stroke: #fff;
  text-decoration: underline;
}

#neznam-atproto-share-comments ul.bluesky-comments li.comment div.replies {
  margin-top: 1rem;
}
